.Footer {
  width: 100%;
  height: 100px;
  background-color: #3c3c3c;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Footer small {
  font-weight: 600;
  font-size: 16px;
}

.Footer div {
  display: flex;
  align-items: center;
}
